body{
    /* cor de fundo */
    background-color: #9c2007;
    /* flexbox */
    display: flex;
    /* alinhamento na horizontal */
    justify-content: center;
    /* alinhamento na vertical */
    align-items: center;
    /*ocupa a tela inteira verticalmente*/
    height: 100vh;
}
/* para referenciar um class usamos .*/
*/ usamos class para reutilizar estilos */
.cartão {}
div {
    background-color: #fff;
    /* cantos arredondados */
    border-radius: 10px;
    /* espaçamento interno */
    padding: 20px;
    /* alinhamento do texto */
    text-align: center;
}
button {
    /*sem borda*/
    border: none;
    /* cor de fundo*/
    background-color: #bd5757;
    /*cor do texto */
    color: black
    /*cantos arredondados */
    border-radius: 10px;
    /*espaçamento interno */
    padding: 10px 20px;
    /* criar um cursor quando o mouse passa em cima */
    cursor: pointer;
}
.imagem {
    /*largura*/
    width: 120px;
    /*altura */
    height: 120px;
    /*cantos arredondados */
    border-radius: 50%;
    /* border colorida com espessura, tipo e cor */
    border: 3px solid #9c2007
}